@font-face {
    font-family: 'Space Ranger';
    src: url("./spacerangerbold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Space Ranger';
    src: url("./spacerangerout.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url("./HankenGrotesk-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url("./HankenGrotesk-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url("./HankenGrotesk-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url("./HankenGrotesk-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url("./HankenGrotesk-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url("./HankenGrotesk-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url("./HankenGrotesk-Black.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url("./HankenGrotesk-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}