* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Firs Neue";
    font-size: 16px;
    background: #171717;
    color: White;
}

:root {
    --padding-section: 160px;
    --padding-article: 120px;
    --primary: #72F34B;
}

.primary {
    color: var(--primary);
}

img {
    max-width: 100%;
}

.fade {
    opacity: 0;
    transform: translateY(30px);
    will-change: opacity, transform;
    transition: 0.8s;
}

.fade:nth-child(3n+2) {
    transition-delay: 0.2s;
}

.fade:nth-child(3n) {
    transition-delay: 0.4s;
}

.slideLeft {
    transform: translateX(-50vw) skewX(15deg);
    will-change: transform;
    transition: 0.8s;
}

.slideRight {
    transform: translateX(50vw) skewX(-15deg);
    will-change: transform;
    transition: 0.8s;
}

.delay {
    transition-delay: 0.4s;
}

.active,
.active > .slideLeft,
.active > .slideRight {
    transform: none !important;
    opacity: 1 !important;
}

.invert img{
    filter: grayscale(100%) invert(0.2);
}

.invert:hover img{
    filter: none;
}

.fw-700 {
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    :root {
        --padding-section: 24px;
        --padding-article: 20px;
    }

    .invert img {
        filter: none;
    }
}
